*.idea
*.sass-cache
*.css
*.class

# Package Files #
*.jar
*.war
*.ear
*.iml

target
api/target
omod/target
api-2.2/target
api-2.2/.classpath
api-2.2/.project
api-2.2/.settings/*

/.settings
/.project
/.DS_Store

omod/.DS_Store
omod/src/main/compass/sass-external/*

/.classpath

### Rubygems build directories ###
omod/.rubygems
omod/.rubygems-provided
####################